.s72-carousel-control {
	@extend .s72-slider-control;

	top: 47%;
	left: $grid-gutter-width / -2;

	&.right {
    left: auto;
    right: $grid-gutter-width / -2;
  }
}

.featured-meta-item {

  .meta-item-tagline-and-classification {
    @extend .d-flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    .s72-classification {
      margin-right: 5px;
    }
    .meta-item-tagline {
      font-weight: 600;
      margin-bottom: 0;
      align-self: center;
      line-height: 100%;
    }
  }
}